.back {
  background-color: cadetblue;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.parabox {
  width: 1000px;
  background-color: beige;
  margin: 20px 30px;
  align-items: center;
  margin: 30px 30px 20px;
  border-radius: 30px;
  justify-content: center;
  text-align: center;
}
.parafor {
  width: 900px;
  font-size: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 30px;
}
