.bodyful {
  background-color: cadetblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.linkboxed {
  border-radius: 20px;
  background-color: blanchedalmond;
  margin: 80px 150px;
  height: 100vh;
}
.link {
  font-size: 30px;
  color: rgb(1, 190, 1);
}
.point {
  font-size: 2em;
  margin-left: 30px;
}
